  <!-- Footer -->

    <footer class="row primary">
    <div class="large-12 columns"><hr />
      <div class="row">

      <div class="large-6 columns">
        <p><a href="/about/">Conditions d'utilisations et droit d'auteur</a></p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
        <li><a href="http://www.jeremy-ta.fr">Jérémy Ta</a></li>
        <li><a href="http://www.gsegado.eu">Guillaume Segado</a></li>
        <li><a href="http://www.ingenieur-imac.fr">Ingenieur IMAC</a></li>
        <li><a href="http://rickrolled.fr/">Not Rick Rolled</a></li>
        </ul>
      </div>

      </div>
    </div>
    </footer>

  <!-- End Footer -->