 <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            Apero IMAC
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown not-click">
          <a href="#">Review</a>
          <ul class="dropdown">
            <li><a href="/review/">List</a></li>
            <li><a href="/review/item/1">Item</a></li>
          </ul>
        </li>
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown not-click">
          <a href="#">Product</a>
          <ul class="dropdown">
            <li><a href="/product/">List</a></li>
            <li><a href="/product/item/1">Item 1</a></li>
          </ul>
        </li>
        <li class="divider hide-for-small"></li>
        <li class="has-dropdown not-click">
          <a href="#">Consumer</a>
          <ul class="dropdown">
            <li><a href="/consumer/profil/">Profil</a></li>
            <li><a href="/consumer/list/">List</a></li>
            <li><a href="/consumer/edit/">Edit</a></li>
            <li><a href="/consumer/connexion/">Connexion</a></li>
            <li><a href="/consumer/delete/">Delete</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
<!-- End Top Bar -->