{% extends "index.html" %}

{% block header %}  
 <nav class="top-bar">
	<ul class="title-area">
	  <!-- Title Area -->
	  <li class="name">
		<h1>
		  <a href="/">
			Apero IMAC
		  </a>
		</h1>
	  </li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	</ul>

	<section class="top-bar-section">
	  <!-- Right Nav Section -->
	  <ul class="right">
		<li class="divider hide-for-small"></li>
		<li class="has-dropdown not-click">
		  <a href="#">Review</a>
		  <ul class="dropdown">
			<li><a href="/review/list/">List</a></li>
			<li><a href="/review/item/1">Item</a></li>
		  </ul>
		</li>
		<li class="divider hide-for-small"></li>
		<li class="has-dropdown not-click">
		  <a href="#">Product</a>
		  <ul class="dropdown">
			<li><a href="/product/list/">List</a></li>
			<li><a href="/product/item/1">Item</a></li>
		  </ul>
		</li>
		<li class="divider hide-for-small"></li>
		<li class="has-dropdown not-click">
		  <a href="#">Consumer</a>
		  <ul class="dropdown">
			<li><a href="/consumer/profil/">Profil</a></li>
			<li><a href="/consumer/list/">List</a></li>
			<li><a href="/consumer/edit/">Edit</a></li>
			<li><a href="/consumer/connexion/">Connexion</a></li>
			<li><a href="/consumer/delete/">Delete</a></li>
		  </ul>
		</li>
	  </ul>
	</section>
  </nav>
 
  <!-- End Top Bar -->
{% endblock header %}

{% block container %}

	  <div class="row">

	<!-- Thumbnails -->
	
		<div class="large-12 columns">
			<div class="row">
				{% for item in object_list|slice:":8" %}
				<div class="large-3 small-6 columns">
					<img src="http://placehold.it/1000x1000&text=Thumbnail">

					<div class="panel">
						<h5>{{item.name}}</h5>
						<h6 class="subheader">{{item.create_date}}</h6>
					</div>
				</div>
				{% empty %}
					<span> No more item </span>
				{% endfor %}
			</div>
		</div>	
		

{# Mise en forme de la pagination ici #}
{% if is_paginated %}
    <div class="pagination">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
           {% endif %}
           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
           {% if page_obj.has_next %}
              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
           {% endif %}
    </div>
{% endif %}	

	<!-- End Thumbnails -->


{% endblock container %}

{% block footer %}
	<!-- Footer -->

	  <footer class="row primary">
		<div class="large-12 columns"><hr />
		  <div class="row">

			<div class="large-6 columns">
			  <p><a href="/about/">Conditions d'utilisations et droit d'auteur</a></p>
			</div>

			<div class="large-6 columns">
			  <ul class="inline-list right">
				<li><a href="http://www.jeremy-ta.fr">Jérémy Ta</a></li>
				<li><a href="http://www.gsegado.eu">Guillaume Segado</a></li>
				<li><a href="http://www.ingenieur-imac.fr">Ingenieur IMAC</a></li>
				<li><a href="http://rickrolled.fr/">Not Rick Rolled</a></li>
			  </ul>
			</div>

		  </div>
		</div>
	  </footer>

	<!-- End Footer -->

	</div>
  </div>
{% endblock footer %}